<div class="row mt-5">
    <div class="card mt-5 p-5">
        <h1>Identification</h1>
        <form [formGroup]="formLogin" (ngSubmit)="onLogin()">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" formControlName="email" class="form-control" id="email">

              <div class="alert alert-danger mt-2" *ngIf="Email?.touched && Email?.invalid">
                <div *ngIf="Email.errors?.['required']">Email Required....</div>
              </div>

            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" formControlName="password" class="form-control" id="password">

              <div class="alert alert-danger mt-2" *ngIf="Password?.touched && Password?.invalid">
                <div *ngIf="Password.errors?.['required']">Password Required....</div>
              </div>
              
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="formLogin.invalid">Connexion</button>
        </form>
        <p class="mt-5">If you have not account <a routerLink="/signup"> Click Here</a></p>
    </div>
</div>
