.task{
    background-color: lightgray;
    margin-bottom: 10px;
    padding:10px;
    cursor: pointer;
}
.task h3{
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.task p{
    font-size: 0.8em;
}
.task.reminder {
    border-left: 3px solid green;
}